name: PR Title Check

on:
  pull_request:
    branches: [main]
    types: [milestoned, opened, edited, synchronize]

permissions:
  contents: read
  pull-requests: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0

      - name: Install commitlint
        run: |
          npm install --save-dev @commitlint/config-conventional@19.6.0
          npm install --save-dev @commitlint/cli@19.6.1

      - name: Lint PR title
        env:
          pull_request_title: ${{ github.event.pull_request.title }}
        run: |
          echo "module.exports = {extends: ['@commitlint/config-conventional']}" > commitlint.config.js
          # shellcheck disable=SC2154
          echo "$pull_request_title" | npx commitlint
