name: Release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          lfs: true

      - name: Install Just
        run: brew install just

      - name: Build Release
        run: just build release

      - name: Package Release Assets
        run: tar -czf teemoji.tar.gz -C .build/apple/Products/Release teemoji teemoji_teemoji.bundle

      - name: Create GitHub Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          files: teemoji.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
